form {
    @apply pl-[22px];
    
    .wpcf7-not-valid-tip {
        @apply mt-1.5 text-14 text-[#CC885D];
    }
    
    .wpcf7-response-output {
        @apply p-0 border-0 mt-7 mx-0 mb-0;
    }

    label {
        @apply relative;
    }

    input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
        -webkit-appearance: none;
        @apply block bg-transparent border-b outline-0 m-0 py-1 px-2.5 text-black w-full;
        @apply md:py-[5px] md:px-5;
        
        &::placeholder {
            @apply opacity-100 text-black font-bold uppercase;
        }
    }

    input[type="checkbox"] {
        @apply absolute p-0 m-0 border-0 w-0 h-0 hidden;

        &:checked {
            + span {
                &::before {
                    @apply bg-black;
                }
            }
        }

        + span {
            @apply block relative pl-[35px];

            &::before {
                content: '';
                border-radius: 50%;
                @apply absolute top-px left-0 block border h-4 w-4;
            }
        }
    }

    .wpcf7-checkbox {
        label {
            @apply block cursor-pointer;
        }
    }

    input[type="radio"] {
        -webkit-appearance: none;
        background-position: 0 0;
        -webkit-background-size: contain;
        transform: translate(-100%,-55%);
        @apply absolute top-1/2 -left-2.5 block bg-transparent border-0 rounded-none outline-0 m-0 w-3 h-[15px] bg-no-repeat bg-contain;

        &:checked {
            background-image: url('../../assets/img/icon-arrow-orange.svg');
        }
    }

    .wpcf7-radio {
        @apply block uppercase font-bold mb-5 ml-5;
        @apply md:mb-0 md:ml-0;

        .wpcf7-list-item {
            @apply mr-[35px] md:mr-10;

            label {
                @apply block cursor-pointer;
            }
        }
    }

    input[type="submit"] {
        -webkit-appearance: none;
        @apply block bg-[#CC885D] border-0 rounded-none outline-0 m-0 py-3 px-10 w-full text-black text-center font-bold uppercase cursor-pointer;
        @apply md:w-fit md:py-2.5 md:px-10; 

        &:hover {
            background-color: rgba(#CC885D, 0.7);
        }
    }

    textarea {
        -webkit-appearance: none;
        @apply block bg-transparent border rounded-none outline-0 m-0 py-[5px] px-[2.5] text-black w-full h-[90px];
        @apply md:py-[5px] md:px-5 md:h-[150px];
        &::placeholder {
            @apply opacity-100 text-black font-bold uppercase;
        }
    }

    select {
        -webkit-appearance: none;
        @apply block text-black uppercase font-bold bg-transparent border-b rounded-none outline-0 m-0 py-[5px] px-2.5 w-full;
        @apply md:py-[5px] md:px-5;
    }

    .select2 {
        @apply block w-full;

        &-container {
            @apply block border-b px-2.5 py-[5px];
            @apply md:py-[5px] md:px-5;
        }

        &-selection {
            &__rendered {
                @apply text-black uppercase font-bold p-0;
            }
        }
    }
    

.form {
    .wpcf7-list-item {
        @apply mr-10;
    }

    &__row {
        @apply flex justify-between flex-wrap flex-col lg:flex-row;

        &--push {
            @apply mb-5;
            @apply md:mt-[30px] md:mb-0;
        }
    }

    &__fieldset {
        @apply relative mb-[18px] w-full;
        @apply md:mb-6 lg:w-[calc(50%-15px)];

        &--wide {
            @apply w-full;
        }

        &__label {
            @apply block py-[5px] px-2.5 font-bold uppercase;
            @apply md:py-[5px] md:px-5;
        }
    }
}
    .btn {
        @apply bg-orange uppercase px-12 pt-2.5 pb-2 text-15 w-fit text-white font-bold rounded-full hover:opacity-70 duration-300;
    }
}

.select2 {
    &-hidden-accessible {
        display: none !important;
    }

    .dropdown-wrapper {
        background-image: url('../../assets/img/icon-arrow-orange.svg');
        background-position: 0 0;
        -webkit-background-size: contain;
        @apply absolute top-1/2 right-0 -mt-[7px] w-3 h-[15px] bg-no-repeat bg-contain rotate-90;
    }

    &-container {
        @apply relative;

        &--open {
            .dropdown-wrapper {
                @apply -rotate-90;
            }
        }

        .selection {
            @apply block;
        }
    }

    &-selection {
        @apply cursor-pointer block;
    }

    &-search {
        @apply hidden;
    }

    &-dropdown {
        @apply block;
    }

    &-results {
        @apply block border border-orange bg-orange -mt-px;

        &__options {
            @apply list-none;
        }

        &__option {
            @apply text-beige txt-1 cursor-pointer py-[5px] px-5;

            &--highlighted {
                background-color: rgba(red, 0.2);
            }

            &:first-child {
                @apply font-bold uppercase;
            }
        }
    }
}




