.form-documents-login {
    form {
        input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
            -webkit-appearance: none;
            @extend .txt-h4;
            @apply block bg-beige-light border-b border-orange outline-0 m-0 py-1 px-2.5 text-black w-full leading-normal normal-case;
            @apply md:py-[5px] md:px-5;

            &::placeholder {
                @apply opacity-100 text-black font-bold uppercase;
            }
        }
    }
}

.form-documents-submit {
    form {
        input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
            -webkit-appearance: none;
            @extend .txt-h4;
            @apply block bg-transparent border-b outline-0 m-0 py-1 px-2.5 text-black w-full leading-normal normal-case;
            @apply md:py-[5px] md:px-5;

            &::placeholder {
                @apply opacity-100 text-black font-bold uppercase;
            }
        }
        .form {
            &__row {
                &:last-of-type {
                    margin-top: 0 !important;
                }
                .btn {
                    @apply bg-black border border-black hover:bg-orange hover:border-beige;
                }
            }
        }
    }
}