.menu-wrapper { 
    @apply translate-x-full;
    &.active {
        @apply translate-x-0;
    }

    .main-menu {
        @apply flex flex-col items-center gap-y-8 mt-10 mb-10 xl:gap-y-12 xl:mt-32;
        > li {
            > a {
                @apply lg:text-40 xl:text-51 font-bold uppercase underline-animation;

            }
        }
    }
    
    .header-links {
        a {
            @apply text-center text-14 lg:text-17 leading-1.25 font-bold mb-3 inline-block underline-animation-black lg:mb-5;
        }
        p:first-of-type {
            @apply mb-0;
        }
        p:nth-of-type(2) {
            @apply hidden;
        }
        p:last-of-type {
            a {
                @apply mb-0;
            }
        }
    }
}
