.menu-wrapper { 
    @apply translate-x-full;
    &.active {
        @apply translate-x-0;
    }

    .main-mega-menu {
        @apply flex flex-col items-center gap-y-4 mt-10 mb-24 xl:mt-32;
        > li {
            > a {
                @apply lg:text-30 xl:text-35 2xl:text-40 font-bold uppercase;
            }
            > .sub-menu {
                @apply flex justify-center gap-x-[30px] mb-1.5;
                > li {
                    > a {
                        @apply text-14 font-bold uppercase underline-animation;
                    }
                }
            }
        }
    }
    
    .header-links {
        a {
            @apply text-center text-14 lg:text-16 leading-1.25 font-bold mb-3 inline-block underline-animation-black uppercase;
        }
        p:first-of-type {
            @apply mb-0;
        }
        p:nth-of-type(2) {
            @apply hidden;
        }
        p:last-of-type {
            a {
                @apply mb-0;
            }
        }
    }
}


    .main-menu-test {
        @apply flex gap-x-4;
        > li {
            @apply relative;
            > a {
                @apply text-14 no-underline font-bold underline-offset-2 uppercase underline-animation-black;
            }
            .sub-menu {
                @apply pointer-events-none absolute top-4 pt-10 pb-3 left-0 opacity-0 duration-300 text-orange uppercase;
                > li {
                    > a {
                        @apply font-bold text-14 whitespace-nowrap;
                    }
                }
            }
            &:hover {
                .sub-menu {
                    @apply opacity-100 duration-300 pointer-events-auto;
                    > li {
                        > a {
                            @apply underline-animation-orange;
                        }
                    }
                }
            }
        }
    }
    
    .dropdown-menu {
        display: grid;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        grid-template-rows: 0fr;
        > div {
            overflow: hidden;
        }
        &.active {
            grid-template-rows: 1fr;
        }
    }


