@mixin md {
    @media only screen and (min-width: 768px) { @content; }
}

@mixin lg {
    @media only screen and (min-width: 1024px) { @content; }
}

@mixin xl {
    @media only screen and (min-width: 1280px) { @content; }
}

.txt-h1 {
    //@apply text-60 md:text-90 lg:text-120 xl:text-167; 
    @apply uppercase font-Reckless font-light text-center leading-none;

    font-size: calc(60px + (90 - 60) * ((100vw - 300px) / (768 - 300)));

    @include md {
        font-size: calc(90px + (120 - 90) * ((100vw - 768px) / (1024 - 768)));
    }

    @include lg {
        font-size: calc(120px + (167 - 120) * ((100vw - 1024px) / (1280 - 1024)));
    }

    @include xl {
        @apply xl:text-167;
    }
}
.txt-h2 {
    //@apply text-35 md:text-40 lg:text-50 xl:text-70;
    @apply font-Reckless uppercase font-light leading-none;
    font-size: calc(35px + (40 - 35) * ((100vw - 300px) / (768 - 300)));
    
    @include md {
        font-size: calc(40px + (50 - 40) * ((100vw - 768px) / (1024 - 768)));
    }
    
    @include lg {
        font-size: calc(50px + (70 - 50) * ((100vw - 1024px) / (1280 - 1024)));
    }
    
    @include xl {
        @apply xl:text-70;
    }
}
.txt-h3 {
    //@apply text-26 lg:text-30 xl:text-40;
    @apply font-Reckless uppercase font-light leading-1.125;

    font-size: calc(26px + (26 - 26) * ((100vw - 300px) / (768 - 300)));

    @include md {
        font-size: calc(26px + (30 - 26) * ((100vw - 768px) / (1024 - 768)));
    }

    @include lg {
        font-size: calc(30px + (40 - 30) * ((100vw - 1024px) / (1280 - 1024)));
    }

    @include xl {
        @apply xl:text-40;
    }
}
.txt-h4 {
    //@apply text-14 md:text-17 lg:text-22 xl:text-25;
    @apply font-bold uppercase leading-1.2;

    font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (768 - 300)));

    @include md {
        font-size: calc(22px + (17 - 22) * ((100vw - 768px) / (1024 - 768)));
    }

    @include lg {
        font-size: calc(22px + (25 - 22) * ((100vw - 1024px) / (1280 - 1024)));
    }

    @include xl {
        @apply xl:text-25;
    }
}
.txt-h5 {
    //@apply text-14 md:text-17 xl:text-20;
    @apply font-bold uppercase leading-1.25;

    font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (768 - 300)));

    @include md {
        font-size: calc(20px + (17 - 20) * ((100vw - 768px) / (1024 - 768)));
    }

    @include lg {
        font-size: calc(20px + (20 - 20) * ((100vw - 1024px) / (1280 - 1024)));
    }

    @include xl {
        @apply xl:text-20;
    }
}
.txt-h6 {
    @apply text-25 xl:text-30 uppercase font-Reckless text-center leading-1.16;
}
.txt-1 {
    @apply text-15 md:text-16 xl:text-17 leading-1.35;
}

.txt-2 {
    @apply text-14 md:text-16 lg:text-20 xl:text-22;
}

.txt-3 {
    @apply text-14 md:text-15 lg:text-16 font-bold uppercase leading-1.25;
}
.txt-4 {
    
}

.txt-5 {
    
}

.txt-6 {
    
}
.intro-heading {
    //@apply text-40 md:text-50 lg:text-60 xl:text-70;
    @apply font-Reckless uppercase font-light leading-none text-beige text-center;

    font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (768 - 300)));

    @include md {
        font-size: calc(50px + (60 - 50) * ((100vw - 768px) / (1024 - 768)));
    }

    @include lg {
        font-size: calc(60px + (70 - 60) * ((100vw - 1024px) / (1280 - 1024)));
    }

    @include xl {
        @apply xl:text-70;
    }
}

.txt-link-orange {
    @apply text-orange tracking-20 font-bold uppercase leading-1.25 text-14;
    @apply md:text-16; 
    @apply lg:text-20; 
    @apply xl:text-25;
    
    &--block {
        @apply relative ml-5;
        @apply lg:ml-0;
        
        &::before {
            content: '';
            @apply absolute top-px -left-5;
            @apply block w-[10px] h-[14px] bg-contain;
            @apply lg:w-[12px] lg:h-[18px] lg:-left-7;
            @apply xl:w-[15px] xl:h-[22px] xl:-left-8;
            background-image: url('../../assets/img/icon-padlock.svg');
        }
    }
}

.no-heading {
    h3 {
        @apply hidden mb-0;
    }
}
.no-content {
    p {
        @apply hidden;
    }
    h3 {
        @apply mb-0;
        margin-bottom: 0 !important;
        br {
            @apply md:hidden;
        }
    }
}
.text-content {
    p {
        @apply mx-auto lg:max-w-[640px] 2xl:max-w-[900px];
    }
}